<div class="background-certs" id="certificates">  
  <div class="title-box-certs">
    <h3 class="h3-certs">certificates</h3>
    <h4 class="h4-web">I enjoy learning</h4>
  </div>

  <div class="cert-container">
    <div class="cert-container-1">
      <div class="box1 grid-sub">
        <a id="cert-fh-bg" href="#fh-cert-full"> 
          <%= image_tag "firehose.jpg", alt: "firehose bootcamp", class: "full-width-cert"%>
        </a>    
      </div>
      <h4 class="h4-subtitle-cert">software engineering bootcamp</h4>
      <p class="cert-subtitle">Dec. 2017 - Oct. 2018</p> 
    </div>

    <div class="cert-container-1">
        <div class="box1 grid-sub">
          <a id="cert-js-bg" href="#js-cert-full">
            <%= image_tag "udemy-js-compressor.jpg", alt: "udemy javascript", class: "full-width-cert" %>
          </a>
        </div>
      <h4 class="h4-subtitle-cert">JavaScript: the weird parts</h4>
      <p class="cert-subtitle">Nov. 2018</p> 
    </div>

    <div class="cert-container-2">
        <div class="box1 grid-sub">
          <a id="cert-al-bg" href="#al-cert-full">
            <%= image_tag "udemy-algos-compressor.jpg", alt: "udemy algorithms", class: "full-width-cert" %>
          </a>
        </div>
      <h4 class="h4-subtitle-cert">algorithms + data structures</h4>
      <p class="cert-subtitle">Dec. 2018</p> 
    </div>

    <div class="cert-container-2">
        <div class="box1 grid-sub">
          <a id="cert-sh-bg" href="#sh-cert-full">
            <%= image_tag "udemy-shopify-compressor.jpg", alt: "udemy shopify", class: "full-width-cert"%>
          </a>
        </div>
      <h4 class="h4-subtitle-cert">shopify themes from scratch</h4>
      <p class="cert-subtitle">Feb. 2019</p> 
    </div>
  </div>  

  <div class="cert-fh-bg" id="fh-cert-full">
    <button class="close-bg" id="close-bg-cert">&times</button>
    <%= image_tag "firehose.jpg", alt: "firehose bootcamp", class: "cert-large"%>
  </div>

  <div class="cert-js-bg" id="js-cert-full">
    <button class="close-bg" id="close-bg-cert1">&times</button>
    <%= image_tag "udemy-js-compressor.jpg", alt: "udemy javascript", class: "cert-large" %>
  </div>

  <div class="cert-al-bg" id="al-cert-full">
    <button class="close-bg" id="close-bg-cert2">&times</button>
    <%= image_tag "udemy-algos-compressor.jpg", alt: "udemy algorithms", class: "cert-large" %>
  </div>

  <div class="cert-sh-bg" id="sh-cert-full">
    <button class="close-bg" id="close-bg-cert3">&times</button>
    <%= image_tag "udemy-shopify-compressor.jpg", alt: "udemy shopify", class: "cert-large"%>
  </div>
</div>  

