<div class="background-web" id="web-apps">
  <div class="app-container">
    <div class="skills-container">
      <div class="title-box-skills">
        <h3 class="h3-web">skills</h3>
        <h4 class="h4-web">some things I&#39m familiar with</h4>
      </div>

      <div class="rightsidenav">
        <button class="invert">
            <p><i class="far fa-lightbulb"></i></p>
        </button>
      </div>

      <div class="progress-bar-container">
        
        <div class="progress-bar">
          <h4 class="progress-title-holder">
            <span class="progress-title">HTML</span>   
          </h4>
          <div class="progress-content-outer">
            <div class="progress-content-html"></div>
          </div>
        </div>
      
        <div class="progress-bar">
          <h4 class="progress-title-holder clearfix">
            <span class="progress-title">CSS</span>
          </h4>
          <div class="progress-content-outer">
            <div class="progress-content-css"></div>
          </div>
        </div>
      
        <div class="progress-bar">
          <h4 class="progress-title-holder clearfix">
            <span class="progress-title">JavaScript</span>
          </h4>
          <div class="progress-content-outer">
            <div class="progress-content-js"></div>
          </div>
        </div>

        <div class="progress-bar">
          <h4 class="progress-title-holder clearfix">
            <span class="progress-title">Ruby / Rails</span>
          </h4>
          <div class="progress-content-outer">
            <div class="progress-content-rails"></div>
          </div>
        </div>

        <div class="progress-bar">
          <h4 class="progress-title-holder clearfix">
            <span class="progress-title">React</span>
          </h4>
          <div class="progress-content-outer">
            <div class="progress-content-react"></div>
          </div>
        </div>

        <div class="progress-bar">
          <h4 class="progress-title-holder clearfix">
            <span class="progress-title">PostgreSQL</span>
          </h4>
          <div class="progress-content-outer">
            <div class="progress-content-postgres"></div>
          </div>
        </div>

        <div class="progress-bar">
          <h4 class="progress-title-holder clearfix">
            <span class="progress-title">Photoshop</span>
          </h4>
          <div class="progress-content-outer">
            <div class="progress-content-ps"></div>
          </div>
        </div>

      </div>
    </div>
    
    <br />

    <div class="title-box-web">
      <h3 class="h3-web">projects</h3>
      <h4 class="h4-web">some things I&#39ve made</h4>
    </div>  

    <div class="project-box">

      <div class="outer-box-video">
        <div class="video-box">
          <a target="_blank" rel="noopener noreferrer" href="https://cefaijustin.github.io/sass/"><%= video_tag "tours.mp4", controls: :controls, autoplay: :autoplay, loop: :loop %></a>
        </div>     
      </div> 
      <br class="clear"/>
      <div class="video-sub-box"> 
        <h4 class="h4-video-subtitle">nature tour site - advanced css and sass</h4> 
      </div>
      <br class="clear"/>
      <div class="see-more-box">
        <a class="see-more-btn" href="#web-apps-all" id="see-more-btn" style="text-decoration: none; color: black;">  
        <br class="clear"/>    
        <h4 class="h4-see-more">see more</h4>
        </a>
      </div>
    </div>

<div class="web_apps_all_bg" id="web-apps-all">
  <button class="close-bg" id="close-bg-web">&times</button>
  <div class="web_apps_all_bg">

    <div class="project-box-all">
      <div class="app-half">
        <a target="_blank" rel="noopener noreferrer" href="https://todo-justin-cefai.herokuapp.com/">
          <%= image_tag "todo-compressor.png", alt: "todo app", class: "full-width-web" %>
        </a>  
      </div>
      <h4 class="h4-project-subtitle">to-do application</h4>
    </div>

    <div class="project-box-all">
      <div class="app-half">
        <a target="_blank" rel="noopener noreferrer" href="http://nomster-justin-cefai.herokuapp.com/">
          <%= image_tag "nomster-compressor.png", alt: "instagram clone", class: "full-width-web" %>
        </a>
      </div>
      <h4 class="h4-project-subtitle">yelp clone</h4>  
    </div>

    <div class="project-box-all">
      <div class="app-half">
        <a target="_blank" rel="noopener noreferrer" href="http://flixter-justin-cefai.herokuapp.com/">
          <%= image_tag "flixter-compressor.png", alt: "flixter app", class: "full-width-web" %>
        </a>  
      </div>
      <h4 class="h4-project-subtitle">two-sided marketplace</h4>
    </div>  

    <div class="project-box-all">
      <div class="app-half">
        <a target="_blank" rel="noopener noreferrer" href="http://grammable-justin-cefai.herokuapp.com/">
          <%= image_tag "grammable-compressor.png", alt: "grammable app", class: "full-width-web" %>
        </a>
      </div>
      <h4 class="h4-project-subtitle">instagram clone</h4>
    </div>  
  </div>
</div>
    
    <br class="clear" />
  </div>
</div>  
<script>

$(document).ready(function() {

    $(".invert").click(function() {
      var $this = $(this);
      $("html").toggleClass("inversed");
      $this.toggleClass("invert");
      if ($this.hasClass("invert")) {
        $this.html("<i class='far fa-lightbulb'></i>");
      } else {
        $this.html("<i class='far fa-lightbulb'></i>").css({
          'cursor': "pointer",
          'color': "#15ad9e",
          "font-size": "18px",
          'bottom': "auto",
          'outline-color': "black",
          'left': "1.4vw",
          'top': "20px",
          "background-color": "transparent",
          'border': "none"
        });
      }
    });
  });
  </script>