<div class="background-web" id="web-apps">
  
<h3 class="h3-web">{ things I've made }</h3>


		<div class="box grid">
      <figure class="effect-slideleft one-half">
        <%= image_tag "todo.png", class: "full-width-web" %>
        <figcaption>
          <h2>Todo<br><span>Application</span></h2>
          <p>JavaScript, Ruby on Rails, JQuery, HTML, CSS, PostgreSQL</p><br><br>
          <a href="https://todo-justin-cefai.herokuapp.com/" class="button">View</a>
        </figcaption>     
      </figure>
    </div>


		<div class="box grid">
      <figure class="effect-slideleft one-half">
        <%= image_tag "nomster.png", class: "full-width-web" %>
        <figcaption>
          <h2>Yelp<br><span>Clone</span></h2>
          <p>Google Maps API, Ruby, Ruby on Rails, PostgreSQL, HTML, CSS
          </p>
          <a href="http://nomster-justin-cefai.herokuapp.com/" class="button">View</a>
        </figcaption>     
      </figure>
    </div>


    <br class="clear" />

    <div class="box grid">
      <figure class="effect-slideleft one-half">
        <%= image_tag "flixter.png", class: "full-width-web" %>
        <figcaption>
          <h2>Two-Sided<br><span>Market Place</span></h2>
          <p>Devise, Carrierwave, Stripe, Ruby, Ruby on Rails, PostgreSQL, HTML, CSS</p><br><br>
          <a href="http://flixter-justin-cefai.herokuapp.com/" class="button">View</a>
        </figcaption>     
      </figure>
    </div>

    <div class="box grid">
      <figure class="effect-slideleft one-half">
        <%= image_tag "grammable.png", class: "full-width-web" %>
        <figcaption>
          <h2>Instagram<br><span>Clone</span></h2>
          <p>FactoryBot, Ruby, Ruby on Rails, PostgreSQL, HTML, CSS, built using test driven development</p><br><br>
          <a href="http://grammable-justin-cefai.herokuapp.com/" class="button">View</a>
        </figcaption>     
      </figure>
    </div>

    <br class="clear" />

    


    <%# UPDATE ONCE TEAM PROJECT IS FINISHED ------------------------------


    <div class="box">
      <h4>Agile Team Project</h4>
      <%= image_tag "chess.png", class: "full-width" %>
    <%#  
      <p>
        Worked on an Agile software development team building
        a chess application. Under the guidance of a senior software engineer,
        we had weekly Agile team meetings for code reviews, sprint planning,
        and feature assignments.
      </p>
    </div>
    %>
		<br class="clear" />
    <br class="clear" />
    
  </div>





























