<!DOCTYPE html>
	<head>
		<%= favicon_link_tag asset_path('favicon.png'), :rel => 'icon', :type =>  'image/png' %>
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<%= csrf_meta_tags %>
		<link type="text/css" rel="stylesheet" href="normalize.css" />
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
		<link href="https://fonts.googleapis.com/css?family=Fjalla+One" rel="stylesheet">
		<link 
		rel="stylesheet"
		href="prism-atom-dark.css"
		type="text/css"
		media="screen"
		/>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

		<script type="text/javascript" src="prism.js"></script>
		<script type="text/javascript" src="prism.ruby.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/typed.js@2.0.9"></script>
		<script src="js/jquery.js" type="text/javascript"></script>
  	<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
  	<script src="lib/jquery.appear/jquery.appear.js" type="text/javascript"></script>
		<script src="js/custom.js" type="text/javascript"></script>


        <title>Justin Cefai</title>
        <meta name="description" content="Justin Cefai is a software engineer specializing in full-stack development.  He has experience with Ruby, Rails, JavaScript, and building web applications.">

	</head>

	<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	<body>
		<%= yield %>
		<script type="text/javascript">
				(() => {
		  'use strict';
		  // Page is loaded
		  const objects = document.getElementsByClassName('asyncImage');
		  Array.from(objects).map((item) => {
		    // Start loading image
		    const img = new Image();
		    img.src = item.dataset.src;
		    // Once image is loaded replace the src of the HTML element
		    img.onload = () => {
		      item.classList.remove('asyncImage');
		      return item.nodeName === 'IMG' ? 
		        item.src = item.dataset.src :        
		        item.style.backgroundImage = `url(${item.dataset.src})`;
		    };
		  });
		})();
		</script>
	</body>
</html>

<script type="text/javascript">
	var $root = $('html, body');

	$('a[href^="#"]').click(function () {
    $root.animate({
        scrollTop: $( $.attr(this, 'href') ).offset().top
    }, 400);

    return false;
});

</script>